@import 'tailwindcss';

:root {
   --font-sans: 'Outfit', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
   --font-mono: 'JetBrains Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      'Liberation Mono', 'Courier New', monospace;
}

* {
   scrollbar-width: thin;
   scrollbar-color: #3f3f46 transparent;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.no-scrollbar::-webkit-scrollbar {
   display: none;
}
.no-scrollbar {
   -ms-overflow-style: none;
   scrollbar-width: none;
}

::-webkit-scrollbar {
   width: 6px;
   height: 6px;
}

::-webkit-scrollbar-track {
   background: transparent;
}

::-webkit-scrollbar-thumb {
   background-color: #3f3f46;
   border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
   background-color: #52525b;
}

.scrollbar-stable {
   scrollbar-gutter: stable;
}

body {
   background-color: #09090b; /* bg-zinc-950 */
   color: #e4e4e7; /* text-zinc-200 */
}
